<a href="https://colab.research.google.com/github/Bmiguez/Arezzo-Valuation/blob/main/Valuation_Arezzo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Importando inicialmente as bibliotecas necessárias
import pandas as pd
import numpy as np
import statsmodels.api as sm
import yfinance as yf
import sys
import datetime
from dateutil.relativedelta import relativedelta

In [6]:
# Definindo ticker e índice de referencia
ticker = "ARZZ3.SA"
indice = "^BVSP"

# Definindo a data de referência e o intervalo de dados
ano = 2023
mes = 1
dia = 1

data_ref = datetime.date(ano, mes, dia)
data_ini = data_ref - relativedelta(months = 46)

In [7]:
from ast import increment_lineno
# Extrair retornos ajustados da empresa e do benchmark

retornos = yf.download([ticker, indice], start = data_ini, end = data_ref, interval="1mo")["Adj Close"].pct_change()

retornos = pd.DataFrame(retornos.dropna())

y = retornos[ticker]
x = retornos[indice]

[*********************100%***********************]  2 of 2 completed

In [8]:
# Começando a regressão

x = sm.add_constant(x)

modelo = sm.OLS(y, x)

resultados = modelo.fit()

print(resultados.summary())
# Extraindo valor do Beta

beta = resultados.params[1]

conf_interval = resultados.conf_int(alpha=0.05)

lower_bound = conf_interval.iloc[1, 0]
upper_bound = conf_interval.iloc[1, 1]

print("Intervalo de Confiança:")
print("Limite Inferior:", lower_bound)
print("Limite Superior:", upper_bound)

                            OLS Regression Results
==============================================================================
Dep. Variable:               ARZZ3.SA   R-squared:                       0.551
Model:                            OLS   Adj. R-squared:                  0.541
Method:                 Least Squares   F-statistic:                     52.80
Date:                Sat, 17 Jun 2023   Prob (F-statistic):           5.30e-09
Time:                        15:29:50   Log-Likelihood:                 55.153
No. Observations:                  45   AIC:                            -106.3
Df Residuals:                      43   BIC:                            -102.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0106      0.011      0.978      0.333      -0.011       0.033
^BVSP          1.0756      0.148      7.267      0.000       0.777       1.374
==============================================================================
Omnibus:                        0.678   Durbin-Watson:                   1.992
Prob(Omnibus):                  0.713   Jarque-Bera (JB):                0.739
Skew:                          -0.109   Prob(JB):                        0.691
Kurtosis:                       2.411   Cond. No.                         13.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
Intervalo de Confiança:
Limite Inferior: 0.7770844236399139
Limite Superior: 1.374095129161099

In [10]:
# Cálculo do Custo do equity

# Desalavancando beta

tax = 0.27
debt = 1060093
equity = 2716661

unlev_beta = beta/(1+(1-tax)*debt/equity)

# Risk Free Obtido 14/06
rf = 0.1096

# Default spread 14/06
dfs = 0.0314



# Calculando equity premium

data_ini = data_ref - relativedelta(years = 5)

retornos = yf.download(indice, start = data_ini, end = data_ref, interval="1mo")["Adj Close"].pct_change()

retornos = retornos.dropna()

retorno_anualizado = (float(retornos.mean())+1)**12-1
print(retorno_anualizado)

[*********************100%***********************]  1 of 1 completed
0.08755353683124478

In [20]:
path = "https://github.com/Bmiguez/Arezzo-Valuation/raw/main/Dados_Valuation.xlsx"
aba_bp = "BP"
aba_dre = "DRE"
aba_fc = "FC"
aba_lp = "LojasProp"
aba_indicadores = "Indicadores"
aba_receitabruta = "Receita Bruta"

#### Criação dos Dataframes
#### Balanço Patrimonial
df_bp = pd.read_excel(path, aba_bp)

#### Demonstração Resultado do Exercício
df_dre = pd.read_excel(path, aba_dre)

#### Fluxo de Caixa
df_fc = pd.read_excel(path, aba_fc)

#### Lojas Próprias
df_lp = pd.read_excel(path, aba_lp)

#### Indicadores
df_ind = pd.read_excel(path, aba_indicadores)

#### Receita Bruta
df_receita = pd.read_excel(path, aba_receitabruta)

In [31]:
# Calculando a média das deduções entre receita bruta e liquida
receita_bruta = df_receita.iloc[:,1]
receita_liquida = df_dre.iloc[:,1]
deducoes = receita_liquida/receita_bruta
val_deducoes = deducoes.mean()

# Formulando premissas de receita com base no numero de lojas

lojas_proprias = df_lp.iloc[:,[0] + list(range(15,24))]
lojas_proprias

,Ano,Arezzo.1,Schutz.1,Alexandre Birman,Anacapri.1,Fiever.1,Alme.1,Vans.1,AR&CO.1,Carol Bassi
0,2010,13,10,1,5,-,-,NaN,NaN,NaN
1,2011,19,17,1,8,-,-,NaN,NaN,NaN
2,2012,19,27,2,8,-,-,NaN,NaN,NaN
3,2013,17,27,2,8,-,-,NaN,NaN,NaN
4,2014,19,27,2,5,-,-,NaN,NaN,NaN
5,2015,15,26,2,4,1,-,NaN,NaN,NaN
6,2016,15,23,3,4,3,-,NaN,NaN,NaN
7,2017,15,22,4,3,4,-,NaN,NaN,NaN
8,2018,14,17,4,3,5,2,NaN,NaN,NaN
9,2019,10,17,6,3,5,3,NaN,NaN,NaN
10,2020,12,16,8,5,2,2,7.0,75.0,NaN
11,2021,18,20,8,2,2,2,13.0,89.0,NaN
12,2022,18,22,12,2,2,2,18.0,104.0,5.0